* {
	margin:0;
	padding:0;
}
.cabezera li{
	list-style: none;
	float:left;
	width:20%;
	height:40px;
	background-color:whitesmoke;
	text-align: center;
	line-height: 40px;
	display:block;
}
.cabezera li a {
	color:black;
	text-decoration: none;
	display:block;
}
.cabezera li a:hover{
	background-color:darkorange;
	color:aliceblue;
}
.cabezera li a:active{
	background-color:chocolate;
	color:aliceblue;
}